
<!-- Main -->
<div id="main">
    <!-- One -->
        <section id="laboral">
            <header class="major">
                <h2>Experiencia laboral</h2>
            </header>
            <ul>
                <li>
                    <h3>Desarrollador Junior en Backend</h3>
                    <p>Nazaríes-Intelligenia, Julio 2022- Actualidad</p>
                    <p>
                        <ul>
                            <li>Desarrollo de aplicaciones web y APIs con Python y Django/DRF.</li>
                            <li>Gestión y contacto de clientes para realización de mantenimientos.</li>
                            <li>Manejo de integraciones para plataformas de Business Intelligence.</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <h3>Desarrollador Backend en prácticas</h3>
                    <p>Intelligenia, Octubre 2021- Junio 2022</p>
                    <p>
                        <ul>
                            <li>Aprendizaje en Python, Django/DRF y Dockerización.</li>
                            <li>Aplicación de aprendizaje en realización de tareas de mantenimiento software.</li>
                        </ul>
                    </p>
                </li>
            </ul>
        </section>

        <section id="formacion">
            <header class="major">
                <h2>Formación reglada</h2>
            </header>
            <ul>
                <li>
                    <h3>Grado en Ingeniería Informática</h3>
                    <p>Mención en Ingeniería del Software <br>
                        Universidad de Granada, 2017-2022</p>

                    <p>
                        Mención de honor en:
                        <ul>
                            <li>Lógica y Métodos Discretos</li>
                            <li>Sistemas de Información Basados en Web</li>
                            <li>Desarrollo de Software</li>
                            <li>Metodologías de Desarrollo Ágil</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <h3>Bachillerato Tecnológico</h3>
                    <p>IES José de Mora, 2015-2017</p>
                </li>
            </ul>
        </section>

        <section id="formacionnoreglada">
            <header class="major">
                <h2>Formación en cursos no reglados</h2>
            </header>
            <ul>
                <li>
                    <h3>Curso de Procesamiento de Lenguaje Natural</h3>
                    <p>Platzi, 2022</p>
                </li>
                <li>
                    <h3>Curso de LaTeX</h3>
                    <p>Asociación EventEX, 2021</p>
                </li>
            </ul>
        </section>

        <section id="otros">
            <header class="major">
                <h2>Otras experiencias</h2>
            </header>
            <ul>
                <li>
                    <h3>Google Developer Student Clubs</h3>
                    <p>Lead, 2021-2022</p>
                    <p>
                        <ul>
                            <li>Creación de eventos multitudinarios, como el DyploFest</li>
                            <li>Impartición de talleres</li>
                            <li>Organización y gestión del grupo universitario local.</li>
                            <li>Creación de sinergias con otras comunidades locales.</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <h3>Google Developer Student Clubs</h3>
                    <p>Miembro Técnico en Diseño Web, 2019-2020</p>
                    <p>
                        Los GDSC son grupos comunitarios universitarios para estudiantes interesados en las tecnologías para desarrolladores de Google. Los estudiantes de todos los programas de grado o posgrado interesados en crecer como desarrolladores son bienvenidos. Al unirse a un GDSC, los estudiantes amplían sus conocimientos 
                        en un entorno de aprendizaje entre iguales y crean soluciones para las empresas locales y su comunidad.
                    </p>
                </li>
                <li>
                    <h3>ReddelSur</h3>
                    <p>Socio y programador web, 2018-2019</p>
                    <p>
                        Reddelsur era una junior empresa dedicada al desarrollo de páginas y aplicaciones web, conformado por estudiantes de la Universidad de Granada.
                    </p>
                    <p>
                        <ul>
                            <li>Aprendizaje en HTML y CSS.</li>
                        </ul>
                    </p>
                </li>
            </ul>
        </section>
        
</div>
