
<!-- Main -->
<div id="main">
    <!-- One -->
        <section id="aboutme">
            <header class="major">
                <h2>Sobre mí</h2>
            </header>
            <p>
                ¡Hola! Me llamo Iván, y soy una persona que le encanta cacharrear las tecnologías que ve por ahí y le encanten, trabajar en equipo y meterse en experiencias nuevas. 
            </p>
            <p>
                La Informática Gráfica y los Asistentes Virtuales me parecen temas interesantes, aunque actualmente estoy trabajando en el Desarrollo de Software Backend. 
            </p>
            <p>
                Además me gusta compartir algunas experiencias y cosas que voy aprendiendo con la gente, o asistir a charlas y obtener nuevos puntos de vista que puedan aportar a mi aventura en el mundo profesional.
            </p>
            <ul class="actions">
                <li><a href="/about" class="button">Experiencia laboral / CV <i class="icon fa-file"></i></a></li>
            </ul>
        </section>

    <!-- Two -->
        <section id="projects">
            <h2>Mis proyectos</h2>
            <div class="row">
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://ivanitix.github.io/SG_Practicas/Practica2" class="image fit thumb"><img src="/assets/images/thumbs/drom.png" alt="" /></a>
                    <h3>Don't Run Over Me</h3>
                    <p>Un juego con base en WebGL y JavaScript, clon de Crossy Road. ¿Por qué el pollo cruzó la carretera?</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://github.com/IvanitiX/ArcadiaChatbotPythonEdition" class="image fit thumb"><img src="/assets/images/thumbs/chatbot.png" alt="" /></a>
                    <h3>Chatbot básico en NodeJS/Python</h3>
                    <p>Un bot simple y customizable para Twitch. Una de sus funcionalidades es enviar mensajes graciosos por el chat, aparte de soportar eventos aleatorios como tiradas de dados</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://github.com/IvanitiX/ArcadiaVoiceAssistant" class="image fit thumb"><img src="/assets/images/thumbs/AVA.png" alt="" /></a>
                    <h3>Arcadia Voice Assistant</h3>
                    <p>"Una Alexa, pero cutre". Bueno, ahora es más que eso...</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://github.com/IvanitiX/IG_Practicas" class="image fit thumb"><img src="/assets/images/thumbs/github.jpg" alt="" /></a>
                    <h3>Proyectos de la Facultad</h3>
                    <p>Desde un proyecto en OpenGL de un ganso que camina hasta un Monopoly, puedes encontrar en mi GitHub varios proyectos de la ETSIIT.</p>
                </article>
            </div>
        </section>

    <!-- Two -->
    <section id="talks">
        <h2>Hablando de movidas</h2>
        <div class="row">
            <article class="col-6 col-12-xsmall work-item">
                <a href="https://www.youtube.com/watch?v=NHthJFpWBUs" class="image fit thumb"><img src="/assets/images/thumbs/ChatbotsGDSC.jpg" alt="" /></a>
                <h3>Chatbots, reconocimiento de Voz y text-to-Speech: Creando un Asistente Virtual (GDSC)</h3>
                <p>Primera versión del taller. Se usaron tecnologías propietarias de IBM y Google. Haciendo clic podéis acceder al vídeo.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="https://github.com/IvanitiX/PyConES2022_AsistentesVirtualesOpenSource" class="image fit thumb"><img src="/assets/images/thumbs/ChatbotsPyCon.jpg" alt="" /></a>
                <h3>Chatbots, Reconocimiento de Voz y Text-to-Speech: Tu Asistente Virtual Open-Source (PyConES 2022)</h3>
                <p>Segunda versión del taller, basado en la experiencia de ArcadiaVoiceAssistant. </p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="https://www.youtube.com/watch?v=G5QuKjbQatE" class="image fit thumb"><img src="/assets/images/thumbs/GDSCParty.webp" alt="" /></a>
                <h3>Presentando charlas en el GDSC Party Spain 2022</h3>
                <p>Tuve el honor en Abril de 2022 de participar como maestro de ceremonias en el IMPACTParty/ GDSC Party en Barcelona. Fue una experiencia tremenda. Dando clic puedes verme presentando charlas.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="https://www.youtube.com/watch?v=09ystg8NiEs" class="image fit thumb"><img src="/assets/images/thumbs/HolaMundo.jpg" alt="" /></a>
                <h3>Presentación del GDSC en el curso 2021-22</h3>
                <p>En esta charla me tocó presentar qué eran los Google Developer Student Clubs y hacer un poco de introducción. Haz clic para ver el vídeo.</p>
            </article>
        </div>
    </section>

</div>
